.buttons{
  border-radius: 16px;
  padding: 15px 30px;
  /* height: 15px; */
  width: 100%;
  max-width:200px;

}

.centered {
  text-align: center;
  margin:auto;
  width:50%;
}

table, th{
  border: 1px solid black;

}

th{
  background-color: #bfbfbf;
}

th,td{
  padding:10px;
}

td{
  border-bottom: 1px dashed black;
}
